{{ define "intro-msg-1" }}
    <p class="fade-in" hx-on::after-swap="this.classList.add('visible')">
      You will have the opportunity for the next 5 minutes to engage in a discussion with two LLMs.
    </p>
{{ end }}
{{ define "intro-msg-2" }}
    <p class="fade-in" hx-on::after-swap="this.classList.add('visible')">
      One will make the strongest arguments for to prioritize greater <strong>safety</strong> in AI development.
    </p>
{{ end }}
{{ define "intro-msg-3" }}
    <p class="fade-in" hx-on::after-swap="this.classList.add('visible')">
      The other will make the strongest arguments to prioritize greater <strong>innovation</strong> in AI development.
    </p>
{{ end }}