<div hx-ext="sse" sse-connect="/chat-response?response-id={{ .ResponseID }}" sse-close="close" class="chat-row"
     _="on htmx:sseBeforeMessage call responseEvent(event)
        on htmx:sseMessage me.scrollIntoView({ block: 'end', behavior: 'auto' })
        on htmx:sseClose remove @disabled from <#user-input,#prompt-button,#input-button/>
        then responseEvent(event)
        then wait 100ms me.scrollIntoView({ block: 'end', behavior: 'auto' })" hx-swap="innerHTML">
  <div class="msg">{{ .UserMsg }}</div>
  <div class="msg" sse-swap="first-response"></div>
  <div class="msg" sse-swap="second-response"></div>
  <data sse-swap="innovation-first"></data>
</div>
