<div hx-ext="sse" sse-connect="/chat-response?response-id={{ .ResponseID }}" sse-close="close" class="chat-row"
     _="on htmx:sseMessage me.scrollIntoView({ block: 'end', behavior: 'smooth' }) 
        on htmx:sseBeforeMessage call responseEvent(event)
        on htmx:sseClose wait 100ms me.scrollIntoView({ block: 'end', behavior: 'smooth' }) 
           then send enable to <footer/>" hx-swap="innerHTML">
  <div class="msg">{{ .UserMsg }}</div>
  <div class="msg" sse-swap="first-response"></div>
  <div class="msg" sse-swap="second-response"></div>
  <data sse-swap="innovation-first"></data>
</div>
