<ol>
  <li>
{{ if eq (.Active 1 ) }}
      <b>Regulation vs. Deregulation in AI Development</b>
{{ else }}
      <p>Regulation vs. Deregulation in AI Development</p>
{{ end }}
  </li>
  <li>
{{ if eq (.Active 1 ) }}
      <b>Economic Transformation: Job Creation vs. Displacement</b>
{{ else }}
      <p>Economic Transformation: Job Creation vs. Displacement</p>
{{ end }}
  </li>
  <li>
{{ if eq (.Active 1 ) }}
      <b>Developing Super-Human General-Purpose AI</b>
{{ else }}
      <p>Developing Super-Human General-Purpose AI</p>
{{ end }}
  </li>
</ol>