:root{
    /* --main-layout: 
    ". chat-row chat-row chat-row chat-row .";
    --chat-row-layout:
    "response-left response-left  response-left  ."
    ".             response-right response-right response-right" */
}

  * {
    margin: 0;
    padding: 0;
  }

  @media screen and (max-width: 1000px) 
  {
    html, body 
    {
      font-size: 36px;
    }
    main
    {
      display: flex;
      flex-direction: column;
      height: 90vh;/* Adjust '50px' to set the space from the bottom */
      overflow: scroll;
      margin: 0% 5% 0% 5%;
    }
  }

  @media screen and (min-width: 1000px)
  {
    html, body 
    {
      font-size: 24px;
    }
    main
    {
      display: flex;
      flex-direction: column;
      overflow-y: scroll; /* Allows vertical scrolling */
      height: 90vh;/* Adjust '50px' to set the space from the bottom */
      margin: 0% 25% 0% 25%;
      box-sizing: border-box;
    }
  }

  .chat-row       
  { 
    display: flex;
    flex-direction: column;
  }
  .user-msg       { align-self: center;     max-width: 70%; background-color: #1B2431; border-radius: 20px; padding: 1rem; margin-top: 2rem;}
  .response-left  { align-self: flex-start; max-width: 70%; border: solid 0.5px #DD6E42; border-radius: 20px; padding: 1rem; margin-top: 2rem;}
  .response-right { align-self: flex-end;  max-width: 70%; border: solid 0.5px #374962; border-radius: 20px; padding: 1rem; margin-top: 2rem;}


  html, body {
    font-family: "Libre Franklin", sans-serif;
    background-color: #0F131A;
    box-sizing: border-box;
    color: #DEE4ED;
  }
  * {
    min-width: 0px;
  }
  .error-input
  {
    border: solid red 1px;
  }

@media screen and (min-width: 1000px) {
  #submission-form
  {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4rem 25% 4rem 25%;
    height: 10vh;
  }
}
@media screen and (max-width: 1000px) {
  #submission-form
  {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4rem 5% 4rem 5%;
    height: 10vh;
  }
}

  .textbar
  {
    background-color: #253141;
    border-radius: 40px;
    border: 2px solid black;
  }

  .textbar > textarea:disabled
  {
    background-color: #1B2431;
    border-radius: 40px;
    border: 2px solid black;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    resize: none;
    padding: 1rem 2rem 1rem 2rem;
    color: inherit;
    margin: 0;
  }

