  * {
    margin: 0;
    padding: 0;
    font-size: inherit;
  }

  @media screen and (max-width: 1000px) 
  {
    main
    {
      display: flex;
      flex-direction: column;
      height: 90%;
      overflow-y: scroll;
      padding-bottom: 10%;
      margin: 0% 5% 0% 5%;
    }
  }

  @media screen and (min-width: 1000px)
  {
    main
    {
      display: flex;
      flex-direction: column;
      overflow-y: scroll; 
      height: 90vh;
      margin: 0% 25% 0% 25%;
      box-sizing: border-box;
    }
  }

  .chat-row       
  { 
    display: flex;
    flex-direction: column;
  }
  .user-msg       { align-self: center;     max-width: 70%; background-color: #374962; border-radius: 20px; padding: 1rem; margin-top: 2rem;}
  .response-left  { align-self: flex-start; max-width: 70%; background-color: #375962; border-radius: 20px; padding: 1rem; margin-top: 2rem;}
  .response-right { align-self: flex-end;  max-width: 70%; background-color: #373E62; border-radius: 20px; padding: 1rem; margin-top: 2rem;}


  html, body {
    font-size: 18px;
    line-height: 1.8rem;
    height: 100%;
    font-family: "Libre Franklin", sans-serif;
    background-color: #0F131A;
    box-sizing: border-box;
    color: #DEE4ED;
  }
  * {
    min-width: 0px;
  }
  .error-input
  {
    border: solid red 1px;
  }

@media screen and (min-width: 1000px) {
  #submission-form
  {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4rem 25% 4rem 25%;
    height: 10vh;
  }
}
@media screen and (max-width: 1000px) {
  #submission-form
  {
    position: fixed;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4rem 5% 4rem 5%;
    height: 10%;
  }
}

  .textbar
  {
    background-color: #253141;
    border-radius: 80px;
    border: 2px solid black;
  }

  .textbar > textarea:disabled
  {
    background-color: #1B2431;
    border-radius: 80px;
    border: 2px solid black;
  }

  textarea {
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    resize: none;
    padding: 1rem 2rem 1rem 2rem;
    color: inherit;
    margin: 0;
  }

